.gradient-background {
  background: .00c6ff;
  background: -webkit-linear-gradient(top, #f4dc26 0%, #fafa75 25%, #f8f8b0 55%, #fdfdec 100%);
  background: linear-gradient(to bottom, #f4dc26 0%, #fafa75 25%, #f8f8b0 55%, #fdfdec 100%);
}

.screen,
.wrapper,
.touch-layer,
.waves {
  @extend .fixed-full-width;
}

.title {
  padding-top: 150px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 11;
}

.screen,
.capture-screen {
  @extend .flex-center;
}

/* Accuracy ring */

.ring {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 2px solid white;
  border-radius: 100px;
}

.ring-active {
  border: 2px solid red;
  border-radius: 100px;
}

.ring-fill {
  width: 150px;
  height: 150px;
}

/* Capture Screen */

.capture-screen {
  display: flex;
  @extend .fixed-full-width;

  flex-direction: column;
  background-color: .222;

  z-index: 12;
}

.poof-container {
  @extend .flex-center;
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.poof {
  width: 100%;
  height: 20px;
  opacity: 0.8;
  background-image: url(#{$staticPath}/images/pikaball-poof.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.capture-ball {
  position: relative;
  width: 300px;
  height: 300px;
  background-image: url(#{$staticPath}/images/pikaball.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.capture-ball-button-container {
  @extend .flex-center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.capture-ball-button {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  opacity: 0.8;
  background-color: red;
  animation: blink 0.4s alternate infinite;
  animation-play-state: running;

  &.active {
    animation-iteration-count: 1;
  }
}

.target {
  position: relative;
  top: -50%;
  left: 0%;
  width: 140px;
  height: 140px;
  transform: rotate(-10deg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 2;
}

.motion-path {
  @extend .flex-center;
  width: 100%;
  height: 50%;
}

.motion-path path {
  visibility: hidden;
}

.ball {
  position: fixed;
  height: 100px;
  width: 100px;
  border-radius: 25px;
  bottom: 10%;
  background-image: url(#{$staticPath}/images/pikaball.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 30;
}

.attack {
  position: fixed;
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 30;
}

.touch-layer {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
}

.capture-status {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 11;
}

.particle-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.particle {
  position: fixed;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0.7;
  z-index: 1;
}

.capture-confetti {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 60;
}

.capture-confetti > div.particle {
  height: 10px;
  width: 10px;
  opacity: 0.9;
  background-color: .4aa6fb;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-full-width {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hidden {
  display: none !important;
}

