$staticPath: '../../../public/static';

html,
body,
#__next {
  height: 100%;
}

#__next {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

main {
  //  background: #fff url(#{$staticPath}/images/container-bg.png);
}

footer {
  line-height: 1;
}

.list-horizontal li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
