
.background-color-bug {
  background: linear-gradient(180deg,#729f3f 50%,#729f3f 0);
  background-color: #729f3f;
  color: #fff
}

.background-color-dark {
  background: linear-gradient(180deg,#707070 50%,#707070 0);
  background-color: #707070;
  color: #fff
}

.background-color-dragon {
  background: linear-gradient(180deg,#53a4cf 50%,#f16e57 0);
  background-color: #53a4cf;
  color: #fff
}

.background-color-electric {
  background: linear-gradient(180deg,#eed535 50%,#eed535 0);
  background-color: #eed535;
  color: #222
}

.background-color-fairy {
  background: linear-gradient(180deg,#fdb9e9 50%,#fdb9e9 0);
  background-color: #fdb9e9;
  color: #222
}

.background-color-fighting {
  background: linear-gradient(180deg,#d56723 50%,#d56723 0);
  background-color: #d56723;
  color: #fff
}

.background-color-fire {
  background: linear-gradient(180deg,#fd7d24 50%,#fd7d24 0);
  background-color: #fd7d24;
  color: #fff
}

.background-color-flying {
  background: linear-gradient(180deg,#3dc7ef 50%,#bdb9b8 0);
  background-color: #3dc7ef;
  color: #222
}

.background-color-ghost {
  background: linear-gradient(180deg,#7b62a3 50%,#7b62a3 0);
  background-color: #7b62a3;
  color: #fff
}

.background-color-grass {
  background: linear-gradient(180deg,#9bcc50 50%,#9bcc50 0);
  background-color: #9bcc50;
  color: #222
}

.background-color-ground {
  background: linear-gradient(180deg,#f7de3f 50%,#ab9842 0);
  background-color: #f7de3f;
  color: #222
}

.background-color-ice {
  background: linear-gradient(180deg,#51c4e7 50%,#51c4e7 0);
  background-color: #51c4e7;
  color: #222
}

.background-color-normal {
  background: linear-gradient(180deg,#a4acaf 50%,#a4acaf 0);
  background-color: #a4acaf;
  color: #222
}

.background-color-poison {
  background: linear-gradient(180deg,#b97fc9 50%,#b97fc9 0);
  background-color: #b97fc9;
  color: #fff
}

.background-color-psychic {
  background: linear-gradient(180deg,#f366b9 50%,#f366b9 0);
  background-color: #f366b9;
  color: #fff
}

.background-color-rock {
  background: linear-gradient(180deg,#a38c21 50%,#a38c21 0);
  background-color: #a38c21;
  color: #fff
}

.background-color-steel {
  background: linear-gradient(180deg,#9eb7b8 50%,#9eb7b8 0);
  background-color: #9eb7b8;
  color: #222
}

.background-color-water {
  background: linear-gradient(180deg,#4592c4 50%,#4592c4 0);
  background-color: #4592c4;
  color: #fff
}
