.pokedex-results figure {
  background: #fdfdec;
  float: left;
  display: block;
  position: relative;
  border-radius: 5px;
  width: 100%;
  padding-top: 100%;
  border: thin solid #303030;
}

.pokedex-results figure img {
  float: left;
  width: 100%;
  position: absolute;
  top: 0;
}

.pokedex-results .pokemon-info {
  clear: both;
  top: -5px;
  padding-left: 7.2525%;
}

.pokedex-results .pokemon-info .id {
  font-family: Flexo-Bold, arial, sans-serif;
  color: #303030;
  font-size: 80%;
  padding-top: 2px;
}

.pokedex-results .pokemon-info h5 {
  font-family: Flexo-Demi, arial, sans-serif;
  color: #303030;
  text-transform: none;
  font-size: 145%;
  margin-bottom: 5px;
}

.pokedex-results .pokemon-info .abilities span {
  font-family: Flexo-Medium, arial, sans-serif;
  border-radius: 3px;
  border: thin solid #303030;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
}

.button-load-more {
  clear: both;
  display: block;
  width: 100%;
  appearance: none;
  background: transparent;
  border: none;
  line-height: 125%;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: none;
  font-size: 100%;
  font-family: 'Flexo-Demi', arial, sans-serif;
}

.button-load-more span {
  display: inline-block;
  margin: 0 auto;
  font-size: 100%;
  font-family: 'Flexo-Demi', arial, sans-serif;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  line-height: 125%;
  margin: 1.5625%;
  padding: 0.75em 1.25em 0.675em;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
}

.button-lightblue {
  background-color: #30a7d7;
  color: #fff;
}

.button-lightblue.active,
.button-lightblue:hover {
  background-color: #1b82b1;
}
